<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appViewer</key>
	<dict>
		<key>clrCellsActBorder</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.0</real>
			<key>G</key>
			<real>0.55000001192092896</real>
			<key>R</key>
			<real>1</real>
		</dict>
		<key>clrCellsActFill</key>
		<dict>
			<key>A</key>
			<real>0.15000000596046448</real>
			<key>B</key>
			<real>0.0</real>
			<key>G</key>
			<real>0.0</real>
			<key>R</key>
			<real>1</real>
		</dict>
		<key>clrCellsCopyBorder</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.40000000596046448</real>
			<key>G</key>
			<real>0.40000000596046448</real>
			<key>R</key>
			<real>0.40000000596046448</real>
		</dict>
		<key>clrCellsCopyFill</key>
		<dict>
			<key>A</key>
			<real>0.20000000298023221</real>
			<key>B</key>
			<real>0.40000000596046448</real>
			<key>G</key>
			<real>0.40000000596046448</real>
			<key>R</key>
			<real>0.40000000596046448</real>
		</dict>
		<key>clrCellsInsertBorder</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.20000000298023224</real>
			<key>G</key>
			<real>0.60000002384185791</real>
			<key>R</key>
			<real>0.15000000596046448</real>
		</dict>
		<key>clrCellsInsertFill</key>
		<dict>
			<key>A</key>
			<real>0.20000000298023221</real>
			<key>B</key>
			<real>0.30000001192092901</real>
			<key>G</key>
			<real>0.69999998807907104</real>
			<key>R</key>
			<real>0.20000000298023221</real>
		</dict>
		<key>clrCellsSelBorder</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>1</real>
			<key>G</key>
			<real>0.64999997615814209</real>
			<key>R</key>
			<real>0.5</real>
		</dict>
		<key>clrCellsSelFill</key>
		<dict>
			<key>A</key>
			<real>0.30000001192092896</real>
			<key>B</key>
			<real>1</real>
			<key>G</key>
			<real>0.64999997615814209</real>
			<key>R</key>
			<real>0.5</real>
		</dict>
		<key>clrEmptyCellFill</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.95999997854232788</real>
			<key>G</key>
			<real>0.92000001668930054</real>
			<key>R</key>
			<real>0.88999998569488525</real>
		</dict>
		<key>clrGridLine</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.88999998569488525</real>
			<key>G</key>
			<real>0.8399999737739563</real>
			<key>R</key>
			<real>0.81000000238418579</real>
		</dict>
		<key>clrGridLineSel</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.0</real>
			<key>G</key>
			<real>0.0</real>
			<key>R</key>
			<real>0.0</real>
		</dict>
		<key>clrHeadingActBorder</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.5</real>
			<key>G</key>
			<real>0.60000002384185791</real>
			<key>R</key>
			<real>0.69999998807907104</real>
		</dict>
		<key>clrHeadingActFill</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.80000001192092896</real>
			<key>G</key>
			<real>0.89999997615814209</real>
			<key>R</key>
			<real>1</real>
		</dict>
		<key>clrHeadingActText</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.5</real>
			<key>G</key>
			<real>0.5</real>
			<key>R</key>
			<real>0.5</real>
		</dict>
		<key>clrHeadingBorder</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.80000001192092896</real>
			<key>G</key>
			<real>0.70999997854232788</real>
			<key>R</key>
			<real>0.61000001430511475</real>
		</dict>
		<key>clrHeadingFill</key>
		<dict>
			<key>A</key>
			<real>0.44565218687057495</real>
			<key>B</key>
			<real>0.84420287609100342</real>
			<key>G</key>
			<real>0.99000000953674316</real>
			<key>R</key>
			<real>0.99000000953674316</real>
		</dict>
		<key>clrHeadingSelBorder</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.15701168775558472</real>
			<key>G</key>
			<real>0.95927602052688599</real>
			<key>R</key>
			<real>0.67165011167526245</real>
		</dict>
		<key>clrHeadingSelFill</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>1</real>
			<key>G</key>
			<real>0.80000001192092896</real>
			<key>R</key>
			<real>0.69999998807907104</real>
		</dict>
		<key>clrHeadingSelText</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>1</real>
			<key>G</key>
			<real>0.99000000953674316</real>
			<key>R</key>
			<real>0.99000000953674316</real>
		</dict>
		<key>clrHeadingText</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.0</real>
			<key>G</key>
			<real>0.0</real>
			<key>R</key>
			<real>0.0</real>
		</dict>
		<key>clrResizeLine</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.64999997615814209</real>
			<key>G</key>
			<real>0.51999998092651367</real>
			<key>R</key>
			<real>0.41999998688697809</real>
		</dict>
		<key>clrWorkspace</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>1</real>
			<key>G</key>
			<real>0.99000000953674316</real>
			<key>R</key>
			<real>0.99000000953674316</real>
		</dict>
		<key>clrWorkspaceEmpty</key>
		<dict>
			<key>A</key>
			<real>1</real>
			<key>B</key>
			<real>0.92000001668930054</real>
			<key>G</key>
			<real>0.75999999046325684</real>
			<key>R</key>
			<real>0.63999998569488525</real>
		</dict>
	</dict>
</dict>
</plist>
